{% extends "auctions/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<article class="media content-section" style="background-color: #8f8f8f; border-radius: 25px;">
    <div class="article-metadata" style="border-bottom: none;">
        <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
        {% if user.is_authenticated and user.id != listing.seller.id %}
            <form action="{% url 'listing:watchlist' %}" method="POST">
                {% csrf_token %}
                {% if watchlist %}
                    <input type="submit" class="btn btn-danger" value="Remove from watchlist">
                    <input type="hidden" name="on_watchlist" value="True">
                {% else %}
                    <input type="submit" class="btn btn-success" value="Add to watchlist">
                    <input type="hidden" name="on_watchlist" value="False">
                {% endif %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" name="auction_id" value="{{ listing.id }}">
            </form>
        {% endif %}
        <div>
            <h2 class="article-title">{{ object.title }}</h2>
            <img src="{{ object.image_url }}" alt="Listing Image" width="500" height="600">
            <p class="article-content">{{ object.description }}</p>
            <p class="article-content">{{ object.category }}</p>

            {% if object.bid == none %}
                $ {{ object.startingbid }}
            {% else %}
                $ {{ listing.bid.last.bid }}
            {% endif %}

            {% if request.user.is_authenticated and not ended %}
                <form method="POST" action="{% url 'listing-bid' object.pk %}" class="form-inline">
                    {% csrf_token %}
                    <div>
                        {{ bid_form|crispy }}
                        <input class="btn btn-primary" type="submit" value="Place Bid"/>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
</article>
{% endblock %}